*{margin: 0%;}
.nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.nav-link{
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  padding: 1.7%;
}
.nav-link:hover{
  color: white;
}

.input-hour{
  padding: 1%;
  width: 60%;
  
}
.btn-hour{
}
.main-hour{
  border: 1px solid grey;
  background-color: white;
  padding: 2%;
  width: 48%;
  height: 84.5vh;
}

.btn-hour{background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-hour{
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btn-hour:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.main-timesheet{
  display: inline-block;
  border: 1px solid grey;
  background-color: white;
  padding: 2%;
  width: 20%;
  margin:0% 2% 2% 2%;
  border-radius: 8px;
}